##############################
# Build
##############################

bin/
obj/

##############################
# Visual Studio
##############################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##############################
# Rider
##############################

.idea/

##############################
# VS Code
##############################

.vscode/

##############################
# Logs
##############################

*.log

##############################
# Node
##############################

node_modules/

##############################
# Publicações
##############################

publish/

##############################
# Arquivos temporários
##############################

*.tmp
*.cache

##############################
# Configurações locais
##############################

appsettings.Development.json